{% extends 'dashboard.html' %}

{% block content %}
<section class="section">
    <div class="section-header">
        <h1>Penyakit</h1>
    </div>
    <a href="{{ url_for('create_penyakit') }}" class="btn btn-primary" style="margin-bottom: 20px; margin-left: 10px;">Tambah
        Penyakit</a>

    <div class="row" style="margin-left: 10px;">
        <!-- <div class="card">
                <div class="card-body p-0"> -->
        <div class="table-responsive table-invoice">
            <table id="table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID Penyakit</th>
                        <th>Nama Penyakit</th>
                        <th>Definisi Penyakit</th>
                        <th></th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for models in models %}
                    <tr>
                        <td>{{models.id_penyakit}}</td>
                        <td class="font-weight-600">{{models.nama_penyakit}}</td>
                        <td class="font-weight-600">{{models.definisi_penyakit}}</td>
                        <td>
                            <a href="{{ url_for('detail_penyakit', id_penyakit=models.id_penyakit) }}" class="btn btn-primary">Detail</a>
                        </td>
                        <td>
                            <a href="{{ url_for('update_penyakit', id_penyakit=models.id_penyakit) }}" class="btn btn-success">Update</a>
                        </td>
                        <td>
                            <a href="{{ url_for('delete_penyakit', id_penyakit=models.id_penyakit) }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- </div>
            </div> -->
    </div>
</section>

{% endblock %}