{% extends "dashboard.html" %}

{% block content %}
     <section class="section">
        <div class="section-header">
            <h1>Create Gejala</h1>
        </div>

        <div class="">
            <!-- <div class="card-body"> -->
                <form method="POST" action="" class="needs-validation" novalidate="">
                {{ form.hidden_tag() }}
                <div class="col-md-6 form-group">
                    <label for="username">Nama Gejala</label>
                    {{ form.nama_gejala(class_="form-control") }}
                    <div class="invalid-feedback">
                        Please fill in nama gejala
                    </div>
                </div>
                <div class="col-md-2 form-group">
                    {{ form.submit(class_="btn btn-primary btn-lg btn-block") }}
                </div>
            </form>
            <!-- </div> -->
        </div>
     </section>
{% endblock %}