<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}Go-Sehat{% endblock %}</title>
        <!-- General CSS Files -->
        <link rel="stylesheet" href="{{ url_for('static', filename='modules/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='modules/fontawesome/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='modules/dataTables.bootstrap4.min.css') }}">

        <!-- CSS Libraries -->
        <link rel="stylesheet" href="{{ url_for('static', filename='modules/jqvmap/dist/jqvmap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='modules/summernote/summernote-bs4.css') }} ">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='modules/owlcarousel2/dist/assets/owl.carousel.min.css') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='modules/owlcarousel2/dist/assets/owl.theme.default.min.css') }}">

        <!-- Template CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">

    {% endblock %}
</head>
<body>
<div id="content">{% block header %}{% endblock %}</div>
<footer class="main-footer">
    <div class="footer-left">
        {% block footer %}
            Copyright &copy; 2019
            <div class="bullet"></div> Design By Arvianti Yulia Ma'ulfa
        {% endblock %}
    </div>
</footer>
</body>

{% block js %}

    <!-- General JS Scripts -->
    <script src="{{ url_for('static', filename='modules/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/nicescroll/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stisla.js') }}"></script>

    <!-- JS Libraies -->
    <script src="{{ url_for('static', filename='modules/jquery.sparkline.min.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/owlcarousel2/dist/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/summernote/summernote-bs4.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/chocolat/dist/js/jquery.chocolat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='modules/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page Specific JS File -->
    <script src="{{ url_for('static', filename='js/page/index.js') }}"></script>

    <!-- Template JS File -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    <script src="{{ url_for('static', filename='modules/plotly-latest.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#table').DataTable();

            var url = window.location.href;
            console.log("url = " + url);
            console.log(url)

            var result = url.split('/');
            console.log(result)
            if (result[3] == 'index') {
                $("#menu_dashboard").addClass("active");
            } else if (result[3] == 'gejala') {
                $("#menu_gejala").addClass("active");
            } else if (result[3] == 'penyakit') {
                $("#menu_penyakit").addClass("active");
            } else if (result[3] == 'gejalapenyakit') {
                $("#menu_rule").addClass("active");
            } else if (result[3] == 'statistika') {
                $("#statistika_pengguna").addClass("active"),
                $("#statistika").addClass("active");
                $.ajax({
                    url: "/statistik_data",
                    method: 'POST',
                    success: function (response) {
                        if((response.x).length != 0 || (response.y).length != 0) {

                            $('#plot').show()
                            $('#text_plot').text("")

                            // Plotly
                            var data = [
                                {
                                    x: response.x,
                                    y: response.y,
                                    type: 'scatter'
                                }
                            ];

                            Plotly.newPlot('plot', data);
                        }
                        else {
                            $('#plot').hide()
                            $('#text_plot').text("No data")
                        }                    }
                })
            }
            else if(result[3] == 'statistika_penyakit'){
                $("#statistika_penyakit").addClass("active"),
                $("#statistika").addClass("active");;
                $.ajax({
                    url: "/statistika_data_penyakit",
                    method: 'POST',
                    success: function (response) {
                        console.log(response)
                        if(response.x.length != 0 || response.y.length != 0) {

                            // Plotly
                            $('#plot_penyakit').show()
                            $('#text_plot').text("")

                            var data = [
                                {
                                    x: response.x,
                                    y: response.y,
                                    type: 'scatter'
                                }
                            ];

                            Plotly.newPlot('plot_penyakit', data);
                        }
                        else {
                            $('#plot_penyakit').hide()
                            $('#text_plot').text("No data")
                        }
                    }
                })

            }

            $("#tahun").change(function(){
                $.ajax({
                    url: "/statistik_data",
                    method: 'POST',
                    data: {
                        tahun: this.value
                    },
                    success: function (response) {

                        if((response.x).length != 0 || (response.y).length != 0) {
                            $('#plot').show()
                            $('#text_plot').text("")

                            // Plotly
                            var data = [
                                {
                                    x: response.x,
                                    y: response.y,
                                    type: 'scatter'
                                }
                            ];

                            Plotly.newPlot('plot', data);
                        }
                        else {
                            $('#plot').hide()
                            $('#text_plot').text("No data")
                        }
                    }
                })
            })

            $("#tahun_penyakit").change(function(){
                $.ajax({
                    url: "/statistika_data_penyakit",
                    method: 'POST',
                    data: {
                        tahun_penyakit: this.value
                    },
                    success: function (response) {
                        if((response.x).length != 0 || (response.y).length != 0) {
                            $('#plot_penyakit').show()
                            $('#text_plot').text("")

                            // Plotly
                            var data = [
                                {
                                    x: response.x,
                                    y: response.y,
                                    type: 'scatter'
                                }
                            ];

                            Plotly.newPlot('plot_penyakit', data);
                        }
                        else {
                            $('#plot_penyakit').hide()
                            $('#text_plot').text("No data")
                        }
                    }
                })
            })

            $("#bulan_penyakit").change(function(){
                $.ajax({
                    url: "/statistika_data_penyakit",
                    method: 'POST',
                    data: {
                        bulan_penyakit: $('#bulan_penyakit').val(),
                        tahun_penyakit: $('#tahun_penyakit').val(),
                    },
                    success: function (response) {

                        if((response.x).length != 0 || (response.y).length != 0){
                            $('#plot_penyakit').show()
                            $('#text_plot').text("")
                            // Plotly
                            var data = [
                                {
                                    x: response.x,
                                    y: response.y,
                                    type: 'scatter'
                                }
                            ];
                            Plotly.newPlot('plot_penyakit', data);
                        }
                        else {
                            $('#plot_penyakit').hide()
                            $('#text_plot').text("No data")
                        }
                    }
                })
            })



        });
    </script>

{% endblock %}
</html>
