{% extends "base.html" %}

{% block header %}
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
{#                    <div class="login-brand">#}
{#                        <img src="{{ url_for('static', filename='image/logo_new.png') }}" alt="logo" width="120" >#}
{#                    </div>#}
                    <h5>Selamat datang di GoSehat !</h5>
                    <p>Silahkan melakukan registrasi.</p>
                    <div class="card card-primary">
                        <div class="card-body">
                            <form method="POST" action="" class="needs-validation" novalidate="">
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    {{ form.username(class_="form-control") }}
                                    <div class="invalid-feedback">
                                        Please fill in your username
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    {{ form.email(class_="form-control") }}
                                    <div class="invalid-feedback">
                                        Please fill in your email
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="d-block">
                                        <label for="password" class="control-label">Password</label>
                                    </div>
                                    {{ form.password(class_="form-control") }}
                                    <div class="invalid-feedback">
                                        please fill in your password
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="d-block">
                                        <label for="password2" class="control-label">Confirm Password</label>
                                    </div>
                                    {{ form.password2(class_="form-control") }}
                                    <div class="invalid-feedback">
                                        please fill in your password
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.submit(class_="btn btn-primary btn-lg btn-block") }}
                                </div>
                            </form>
                        </div>

                        <div class="mt-5 text-muted text-center">
                            Already have an account? <a href="{{ url_for('login') }}">Login here</a>
                        </div>

                        <div class="simple-footer">
                            Copyright &copy; Stisla 2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{#    <h1>Register</h1>#}
{#    <form action="" method="post">#}
{#        {{ form.hidden_tag() }}#}
{#        <p>#}
{#            {{ form.username.label }}<br>#}
{#            {{ form.username(size=32) }}<br>#}
{#            {% for error in form.username.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.email.label }}<br>#}
{#            {{ form.email(size=64) }}<br>#}
{#            {% for error in form.email.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.password.label }}<br>#}
{#            {{ form.password(size=32) }}<br>#}
{#            {% for error in form.password.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.password2.label }}<br>#}
{#            {{ form.password2(size=32) }}<br>#}
{#            {% for error in form.password2.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>{{ form.submit() }}</p>#}
{#    </form>#}
{#{% endblock %}#}